
# Path to database
DATABASE_URL=file:/var/ablog/ablog.db
RUST_LOG=ablog=info,actix_web=info

# Static files stuff
STATIC_PATH=/static
STATIC_DIR=/var/ablog/static/

# Encryption keys
TLS_PRIVATE_KEY=/var/ablog/key.pem
TLS_CERTIFICATE=/var/ablog/cert.pem

#Host name
HOST_NAME=`hostname`
FORTUNE=`which fortune`

# About You
# MY_NAME="Manuel Aguilera"
# MY_TWITTER=manuelisimo
# MY_GITHUB=manuelisimo

# Google Analytics
# GA_ID=UA-111111111-1
