@import "node_modules/highlight.js/styles/solarized-dark.css"

// Solarized colors
base03 =    #002b36;
base02 =    #073642;
base01 =    #586e75;
base00 =    #657b83;
base0 =     #839496;
base1 =     #93a1a1;
base2 =     #eee8d5;
base3 =     #fdf6e3;
yellow =    #b58900;
orange =    #cb4b16;
red =       #dc322f;
magenta =   #d33682;
violet =    #6c71c4;
blue =      #268bd2;
cyan =      #2aa198;
green =     #859900;


@font-face {
  font-family: 'mplus';
  src: url('./fonts/mplus-2p-medium.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Baskerville';
  src: url('./fonts/LibreBaskerville-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-Regular.woff2');
  font-weight: 400;
}

// Theme variables
bg_color = base02;
fg_color = base1;

article_font = 'mplus'
code_font = 'Fira Code'
title_font = 'Fira Code'

// Breakpoints
bp_small_max = 26rem;
bp_medium_min = bp_small_max;
bp_medium_max = 40rem;
bp_large_min = bp_medium_max;
bp_large_max = 74rem;
bp_xlarge_min = bp_large_max;

header_size = 48px;

html {
  background-color: bg_color;
  color: fg_color;

  font: inherit;
  font-family: article_font;
  line-height: 1.6;

  a {
    color: base3;
    &:visited {
      color: base2;
    }
    &:active {
      color: yellow;
    }
  }

  body {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: base02;

    header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      top: -1px;
      background-color: bg_color;
      height: header_size;
      line-height: header_size;
      font-size: 24px;
      font-family: title_font;

      .left {
        display: flex;
        justify-content: flex-start;

        a {
          text-decoration: none;

          svg {
            width: header_size;
            height: header_size;
            fill: fg_color;

            &>.lt {
              transition: transform 1s;
              transform: translate(58px, 16px) rotate(90deg);
            }
            &>.gt {
              transition: transform 1s;
              transform:  translate(9px, 78px) rotate(-90deg);
            }
            &>.slash {
              transition: transform 1s;
              transform: translate(13px, 78px) rotate(253deg);
            }

            &:hover {
              .lt, .gt, .slash {
                transform: none;
              }
            }
          }
        }

        &>* {
          margin-right: 24px;
          @media (min-width: bp_medium_min) {
            margin-right: 48px;
          }
        }
      }

      .right {
        &>* {
          margin-right: 24px;
          display: none; // Remove when we add about section
        }
      }

    }

    main {
      background-color: base02;
      box-shadow: 0px 8px 12px 4px alpha(base03, 0.3);
      width: calc(100% - 32px);
      padding: 8px;
      margin: 0;

      @media (min-width: bp_large_min) {
        width: 32rem;
        padding: 3rem;
      }
      @media (min-width: bp_xlarge_min) {
        width: 45rem;
        padding: 5rem;
      }


      article {
        //width 640px;
        h1, h2, h3, h4 {
          color: base2;
          font-family: title_font;
          font-weight: 400;
          margin-bottom: 4px;
        }
        h1 {
          line-height: 36px;
          letter-spacing: 0.018em;
        }
        h4 {
          &:before  {
            content: "→ "
          }
        }
        .published_date {
          color: base01;
          font-size: 14px;
          padding-top: 0;
        }
        code {
          font-family code_font;
        }
      }
    }

    footer {
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: base01;
      margin: 48px 0;
    }
  }
}
