<!DOCTYPE html>
<!-- I like how you like looking at code ;) -->
<html>
<head>
<% include!("./includes/headers.html"); %>
<% include!("./includes/favicons.html"); %>
<% include!("./includes/seo_headers.html"); %>
</head>

<body>
    <% include!("./includes/header.html"); %>
    <main>
    <% for post in &posts { %>
        <article>
            <a href="/post/<%= post.web_name %>">
                <h3>
                    <%= post.title %>
                </h3>
            </a>
            <div class="published_date">
                <%= post.published_at.unwrap().format("%Y-%m-%d").to_string() %>
            </div>
            <div>
                <%= post.intro %>
            </div>
        </article>
    <% } %>
    </main>
    <% include!("./includes/footer.html"); %>
</body>
</html>
