<!DOCTYPE html>
<html>
<head>
    <% include!("./includes/headers.html"); %>
    <% include!("./includes/favicons.html"); %>
    <% include!("./includes/seo_headers.html"); %>
    <% include!("./includes/social_things.html"); %>
</head>
<body>
    <% include!("./includes/header.html"); %>
    <main>
        <article>
            <h1>
                <%= post.title %>
            </h1>
            <div class="published_date">
                <%= post.published_at.unwrap().format("%Y-%m-%d").to_string() %>
            </div>
            <%- post.body %>
        </article>
    </main>
    <footer>
        Copyright © 2020, Manuel Aguilera
    </footer>
</body>
</html>
